<!-- Modal -->
<div class="modal fade" id="modalDetailLeaveType" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleModal">Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" id="txtName" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label">Default Days</label>
            <input class="form-control" type="text" id="txtDefaultDays" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label">Date Created</label>
            <input class="form-control" id="txtDateCreated" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label">Date Modified</label>
            <input class="form-control" id="txtDateModified" readonly/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="bttGoToPageEdit" type="button" data-id="" class="btn btn-primary">Go to edit page</button>
      </div>
    </div>
  </div>
</div>